html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styles */

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

body {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header Styles */

header {
  /* colours in client brief incorrect */
  background-color: #700014;
  text-align: center;
  /* min-height: 65vh; */
}

h1 {
  margin-top: 0;
  padding-top: 150px;
  font-family: 'Kanit', sans-serif;
  font-size: 4.5rem;
  letter-spacing: 0.4rem;
}

h1,
header p {
  color: #ebe3ca;
}

header p {
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.tvShows,
.restaurants,
.results,
header {
  height: 100vh;
}

.headerLink {
  padding: 15px;
  background-color: #f46e00;
  border: 2px solid #ebe3ca;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  box-shadow: 0 0 10px #ebe3ca;
}

.headerLink:focus,
.headerLink:hover {
  background-color: #ebe3ca;
  border: 2px solid #f46e00;
  box-shadow: 0 0 10px #f46e00;
}

/* TV Component Styles */

.tvShows {
  background-color: #ebe3ca;
}

.tvShows h2 {
  font-family: 'Kanit', sans-serif;
  margin-top: 0;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}

.showContainer {
  display: flex;
  justify-content: center;
}

.showSearch {
  border-right: 2px solid black;
  padding-right: 20px;
}

label {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif
}

input[type="text"] {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="text"]:hover {
  border: 1px solid #f46e00;
  background-color: white;
}


.showSelections {
  padding-left: 20px;
}

.tvShows button {
  background-color: #700014;
  color: #ebe3ca;
  padding: 15px;
  font-size: 1rem;
  border: 2px solid black;
  font-family: 'Montserrat', sans-serif
}

.tvShows button:hover,
.tvShows button:focus {
  background-color: #f46e00;
}

.fa-bookmark {
  color: #700014;
}

.fa-bookmark:hover,
.fa-bookmark:focus {
  color: #f46e00;
}

.showMeShows {
  margin-right: 10px;
}

.showSelections h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif
}

.mapContainer {
  position: relative;
  height: 80vh;
  width: 80vw;
  margin-bottom: 200px;
}
.mapContainer .mapTitle {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 10;
}
/* .mapContainer .googleMap {
  position: absolute;
  top: 0;
}  */
.mapContainer .search {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
  font-size: 1.6rem;
}
.mapContainer .comboInput {
  padding: 10px;
  border: 3px solid #d6d6d6;
}

/* Results Styles */

.results {
  background-color: #700014;
  color: #ebe3ca;
}

.results h2 {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 3rem;
  padding-top: 10px;
}

.allResults {
  display: flex;
  justify-content: center;
  border: 2px solid #f46e00;
  border-radius: 25px;
}

.showResults h2,
.foodResults h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.results h3,
.results h4,
.results p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.showResults {
  border-right: 2px solid #ebe3ca;
  padding-right: 20px;
}

.foodResults {
  padding-left: 20px;
}

/* Footer Styles */

footer {
  text-align: center;
  background-color: #ebe3ca;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

footer a {
  color: black;
}

footer a:hover,
footer a:focus {
  color: #f46e00;
}





