/* setup snippets */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styles */

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: 35%;
}

body {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header Styles */

header {
  background-color: #700014;
  text-align: center;
  height: 100vh;
  width: 100%;
}

h1 {
  margin-top: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 4.5rem;
  letter-spacing: 0.4rem;
}

h1,
header p {
  color: #ebe3ca;
}

header p {
  margin-bottom: 100px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.tvShows, .restaurants {
  min-height: 100vh;
}

@-webkit-keyframes buttons {
  50% {
    background-color: rgba(244, 110, 0, 0.75);
  }
}

@keyframes buttons {
  50% {
    background-color: rgba(244, 110, 0, 0.75);
  }
}

.buttons {
  padding: 15px 80px;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #ebe3ca;
  -webkit-transition-property: color, #f46e00;
  transition-property: color, #f46e00;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: none;
}

.buttons:hover, .buttons:focus {
  -webkit-animation-name: buttons;
  animation-name: buttons;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #f46e00;
  color: white;
}

.buttons:active {
  background-color: #f46e00;
}

.dark {
  background-color: #700014;
  color: #ebe3ca;
  margin: 5px;
}

/* TV Component Styles */

.tvShows, .restaurants {
  background-color: #ebe3ca;
}

.tvShows, .restaurants h2 {
  font-family: 'Kanit', sans-serif;
  margin-top: 0;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
}

label {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif
}

input[type="text"] {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid #700014;
  margin-bottom: 25px;
  border-radius: 4px;
}

input[type=radio] {
  margin-left: 10px;
  opacity: 0;
  position: fixed;
  width: 0;
}

.showSelections {
  padding-left: 20px;
}

.tvShows {
  text-align: center;
}
.showSelections .true {
  color: #f46e00; 
}

.tvShows label { 
  cursor: pointer;
  padding: 20px 10px;
  text-transform: uppercase;
  text-align: center;  
}

.tvShows label:hover,
.tvShows label:focus {
  background-color: #f46e00;
  border-radius: 4px;
  font-weight: bold; 
}

.showSelections {
  position: relative;
}

.showSelections ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.showSelections li {
  position: relative;
}
.showSelections ul {
  margin-bottom: 0;
  padding-bottom: 25px;
}

.tvImage {
  width: 200px;
  margin-right: 15px;
}

.fa-bookmark {
  color: #700014;
  text-shadow: 0 0 5px black;
  font-size: 2rem;
  position: absolute;
  bottom: 23px;
  right: 30px;
  cursor: pointer;
}

.fa-bookmark:hover,
.fa-bookmark:focus,
.fa-bookmark:visited {
  color: #f46e00;
}

.showMeShows {
  margin-right: 10px;
}

.showSelections h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif
}

/* Restaurants styles */

.restaurants {
  position: relative;
}

.restaurants .changeScreen {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  padding: 10px;
  border: 3px solid black;
  background: linear-gradient(
    to right,
    #f46e00 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-in;
}

.restaurants .changeScreen:hover {
  background-position: left bottom;
}

.restaurants .changeScreen img {
  height: 100%;
  width: 100%;
}

.restaurantWrapper .false {
  width: 90vw;
} 

.restaurants .restaurantWrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

.restaurantResults {
  width: 40%;
  font-size: 1.2rem;
  overflow-y: auto;
  max-height: 80vh;
  margin-top: 40px;
  margin-left: 25px;
  font-family: 'Montserrat', sans-serif;
}

.restaurantResults .restaurant {
  display: flex;
  background-color: #eee;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 98%;
}

.restaurantResults .restaurantImage {
  width: 25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.restaurantImage {
  border: 3px solid #700014;
  margin-right: 15px;
}

.restaurant {
  position: relative;
}

.removeRestaurant {
  position: absolute;
  top: 0;
  right: 8px;
  color: #700014;
  cursor: pointer;
}

.addRestaurantToFave {
  position: absolute;
  font-size: 1rem;
  bottom: 5px;
  right: 5px;
  color: #700014;
  cursor: pointer;
}

.removeRestaurant:hover,
.removeRestaurant:focus,
.addRestaurantToFave:hover,
.addRestaurantToFave:focus {
  color: #f46e00;
}

.getRestaurantsButton,
.gotToResults {
  background-color: #700014;
}

.getRestaurantsButton {
  color: #ebe3ca;
}

.showMeResultsDiv {
  padding-bottom: 15px;
  text-align: center;
}
.restaurants .favourited {
  color: #f46e00;
}

/* Map styles */

.mapContainer {
  padding: 10px;
  background-color: #eee;
  border-radius: 6px;
  position: relative;
  height: 80vh;
  max-height: 800px;
  width: 47.5vw;
  margin-bottom: 200px;
  text-align: center;
  margin-top: 40px;
}

.mapContainer .mapTitle {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 10;
}

.data-reach-combobox {
  width: 200px;
}

.mapContainer .search {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 1.4rem;
}

.mapContainer .buttons {
  margin-top: 100px;
}

/* this is styling for the drop down list when searching locations, the class provided is from the react */
[data-reach-combobox-option] {
  font-size: 160%;
  font-family: 'Montserrat', sans-serif;
}

.mapContainer .comboInput {
  padding: 10px;
  border: 3px solid #d6d6d6;
}

.getRestaurantsButton {
  margin-top: 30px;
}

.showMeResultsDiv {
  text-align: right;
}

.goToResults {
  background-color: #700014;
  color: #ebe3ca;
}

/* Results Styles */

.results {
  background-color: #700014;
  color: #ebe3ca;
  min-height: 100vh;
}

.results h2 {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  padding-top: 10px;
  margin-top: 0;
}

.allResults {
  display: flex;
  padding-bottom: 50px;
}

.showResults {
  width: 50%;
}

.showResults h2,
.foodResults h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.showResultsContainer {
  display: flex;
}

.showImg {
  margin-right: 50px;
}

.showImg img {
  border: 3px solid #ebe3ca;
}

.results h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.results h4,
.results p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.showResults {
  border-right: 2px solid #ebe3ca;
  padding-right: 20px;
}

.foodResults {
  padding-left: 100px;
}
.foodImage {
  width: 400px;
  height: 50%;
}
.showImg img {
  width: 200px;
  float: left;
  margin-right: 20px;
} 

.chooseAnotherDiv {
  text-align: center;
}

.star {
  width: 24px;
  height: 24px;
}

/* Footer Styles */

footer {
  text-align: center;
  background-color: #ebe3ca;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

footer a {
  color: black;
}

footer a:hover,
footer a:focus {
  color: #f46e00;
}

/* Responsive Design */

/* Portrait tablet and small desktops */
@media (max-width: 1080px) {
  .restaurants h2 {
    padding-top: 120px;
  }
}

@media screen and (max-width: 650px) {
  .buttons {
    display: block;
    padding: 15px 80px;
  }

  .dark {
    width: 100%;
  }

  fieldset {
    grid-template-columns: 1fr;
  }

  .wrapper {
    top: 25%;
  }

}

@media screen and (max-width: 1150px) {
  .buttons {
    padding: 15px 100px;
  }
}

@media (max-width: 940px) {
  .restaurantWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mapContainer {
    width: 100%;
  }

  .restaurantResults {
    width: 80%;
  }

  .showMeResultsDiv {
    margin-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }

  .allResults {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }  

  .showResults {
    border: none;
    border-bottom: 2px solid #ebe3ca;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .foodResults {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .restaurantImage {
    display: none;
  }

}


